@font-face {
    font-family: sf-ui-display-black;
    src: url(../fuentes/sf-ui-display-black.otf);  
}
@font-face {
    font-family: sf-ui-display-bold;
    src: url(../fuentes/sf-ui-display-bold.otf);
}
@font-face {
    font-family: sf-ui-display-heavy;
    src: url(../fuentes/sf-ui-display-heavy.otf);
}

@font-face {
    font-family: sf-ui-display-light;
    src: url(../fuentes/sf-ui-display-light.otf);
}
@font-face {
    font-family: sf-ui-display-medium;
    src: url(../fuentes/sf-ui-display-medium.otf);
}
@font-face {
    font-family: sf-ui-display-semibold;
    src: url(../fuentes/sf-ui-display-semibold.otf);
}
@font-face {
    font-family: sf-ui-display-thin;
    src: url(../fuentes/sf-ui-display-thin.otf);
}
@font-face {
    font-family: sf-ui-display-ultralight;
    src: url(../fuentes/sf-ui-display-ultralight.otf);
}